<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>设备管理-设备重启</title>
<link rel="stylesheet" type="text/css" media="screen" href="../../css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" media="screen" href="../../css/dataTables.bootstrap.min.css">
</head>
<body ng-app="ia" ng-controller="deviceRestartController" ng-init="devicesState(0)">
    <div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div>
                <header style="height: 100%">
                    <div align="left">
	                    <table style="width: 100%">
	                   		<tr>

	                   		</tr> 
	                    </table>
					</div>
                </header>
                
                <div>
                    <div class="widget-body no-padding">
                        <table class="table table-striped table-bordered table-hover" style="width:100%">
                            <thead>
                                <tr>
									<th>设备ID</th>
									<th>设备序列号</th>
									<th>设备名称</th>
                                    <th>设备状态</th>
                                    <th>设备重启</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="device in deviceList">
                                    <th>{{device.id}}</th>
                                    <th>{{device.sn}}</th>
                                    <th>{{device.name}}</th>
                                    <th>{{stateList[device.state]}}</th>
                                    <th>
                                        <button class="btn btn-primary" type="submit" ng-click="restartDevice(device.id)">
                                            <i class="fa fa-save"></i> 设备重启
                                        </button>
                                    </th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


                <div>
                    <div class="widget-body no-padding">
                        <table class="table table-striped table-bordered table-hover" style="width:100%">
                            <thead>
                            <tr>
                                <th>摄像头ID</th>
                                <th>摄像头品牌</th>
                                <th>摄像头名称</th>
                                <th>摄像头状态</th>
                                <th>摄像头重启</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="vedio in vedioList">
                                <th>{{vedio.id}}</th>
                                <th>{{vedio.brand}}</th>
                                <th>{{vedio.name}}</th>
                                <th>{{stateList[vedio.state]}}</th>
                                <th>
                                    <button class="btn btn-primary" type="submit" ng-click="restartVedio(vedio.id)">
                                        <i class="fa fa-save"></i> 摄像头重启
                                    </button>
                                </th>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script src="../../js/angularjs/angular.min.js"></script>
<script type="text/javascript">
    var app=angular.module('ia',[]);
    app.controller('deviceRestartController',function ($scope,$http) {
        $scope.stateList=['在线','离线'];
        $scope.devicesState=function (state) {
            //得到当前用户对应的农场的设备的状态,包括环境和视频监测设备
            $http.get('../../devices/devicesState?state='+state).then(function (response) {
                $scope.deviceList=response.data.deviceList;
                $scope.vedioList=response.data.vedioList;
            })
        }

        $scope.restartDevice=function (id) {
            alert(id)
        }

        $scope.restartVedio=function (id) {
            alert(id)
        }
    })
</script>
