<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" media="screen" href="../../../css/bootstrap.min.css">
</head>
<body ng-app="ia" ng-controller="addVedioController" ng-init="getVedioList()">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<form class="form-horizontal" onsubmit="return false" id="form">
		<fieldset>
			<div class='form-group'>
				<label class='col-md-2 control-label'>摄像头名称</label>
				<div class='col-md-10'>
					<input class='form-control' ng-model="vedio.name" placeholder='请输入摄像头名称' type='text' name='name' id='name' data-bv-notempty='true' data-bv-notempty-message='name 不能为空'>
				</div>
			</div>
			<div class='form-group'>
				<label class='col-md-2 control-label'>摄像头品牌</label>
				<div class='col-md-10'>
					<input class='form-control' ng-model="vedio.brand" placeholder='请输入摄像头品牌' type='text' name='brand' id='brand' data-bv-notempty='true' data-bv-notempty-message='brand 不能为空'>
				</div>
			</div>
			<div class='form-group'>
				<label class='col-md-2 control-label'>播放秘钥</label>
				<div class='col-md-10'>
					<input class='form-control' ng-model="vedio.accessToken" placeholder='' type='text' name='accessToken' id='accessToken' data-bv-notempty='true' data-bv-notempty-message='accessToken 不能为空'>
				</div>
			</div>
			<div class='form-group'>
				<label class='col-md-2 control-label'>设备号</label>
				<div class='col-md-10'>
					<input class='form-control' ng-model="vedio.deviceSerial" placeholder='请输入设备号' type='text' name='deviceSerial' id='deviceSerial' data-bv-notempty='true' data-bv-notempty-message='deviceSerial 不能为空'>
				</div>
			</div>
			<div class='form-group'>
				<label class='col-md-2 control-label'>视频播放通道</label>
				<div class='col-md-10'>
					<input class='form-control' ng-model="vedio.channelNo" placeholder='请输入视频播放通道' type='text' name='channelNo' id='channelNo' data-bv-notempty='true' data-bv-notempty-message='channelNo 不能为空'>
				</div>
			</div>
			<div class='form-group'>
				<label class='col-md-2 control-label'>所属人</label>
				<div class='col-md-10'>
                    <select name="userId" lay-verify="required" ng-model="vedio.userId" ng-options="user.id as user.username for user in userList" class='form-control input-sm' data-bv-notempty='true'  data-bv-notempty-message='用户不能为空'>
                        <option value="">请选择您的主人</option>
                    </select>
				</div>
			</div>
			<div class='form-group'>
				<label class='col-md-2 control-label'>归属农场</label>
				<div class='col-md-10'>
                    <select name="farmId" ng-model="vedio.farmId" ng-options="farm.id as farm.name for farm in farmList" class='form-control input-sm'>
                        <option value="">请选择您的农场</option>
                    </select>
				</div>
			</div>
			<div class='form-group'>
				<label class='col-md-2 control-label'>状态0：在线 1：离线</label>
				<div class='col-md-10'>
                    <select name="state" ng-model="vedio.state" class='form-control input-sm'>
                        <option value="">请选择设备的初始状态</option>
                        <option value="0">在线</option>
                        <option value="1">离线</option>
                    </select>
				</div>
			</div>
			<div class='form-group'>
				<label class='col-md-2 control-label'>摄像头位置</label>
				<div class='col-md-10'>
					<input class='form-control' ng-model="vedio.location" placeholder='请输入摄像头位置' type='text' name='location' id='location' data-bv-notempty='true' data-bv-notempty-message='location 不能为空'>
				</div>
			</div>
			<div class='form-group'>
				<label class='col-md-2 control-label'>播放地址</label>
				<div class='col-md-10'>
					<input class='form-control' ng-model="vedio.url" placeholder='请输入播放地址' type='text' name='url' id='url' data-bv-notempty='true' data-bv-notempty-message='url 不能为空'>
				</div>
			</div>
			<div class='form-group'>
				<label class='col-md-2 control-label'>生成秘钥key</label>
				<div class='col-md-10'>
					<input class='form-control' ng-model="vedio.appKey" placeholder='请输入生成秘钥key' type='text' name='appKey' id='appKey' data-bv-notempty='true' data-bv-notempty-message='appKey 不能为空'>
				</div>
			</div>
			<div class='form-group'>
				<label class='col-md-2 control-label'>生成秘钥secret</label>
				<div class='col-md-10'>
					<input class='form-control' ng-model="vedio.appSecret" placeholder='请输入生成秘钥secret' type='text' name='appSecret' id='appSecret' data-bv-notempty='true' data-bv-notempty-message='appSecret 不能为空'>
				</div>
			</div>


			<div class="form-actions">
				<div class="row" align="center">
					<div class="col-md-12">
					    <button class="btn btn-primary" onclick="location.href='javascript:history.back(-1)'">返回</button>
						<button class="btn btn-primary" type="submit" ng-click="add()">
							<i class="fa fa-save"></i> 保存
						</button>
					</div>
				</div>
			</div>

		</fieldset>
	</form>
</div>
	<script type="text/javascript" src="../../../js/libs/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="../../../js/jq.js"></script>
	<script type="text/javascript" src="../../../js/plugin/bootstrapvalidator/bootstrapValidator.min.js"></script>
	<script type="text/javascript" src="../../../js/common.js"></script>
	<script type="text/javascript" src="../../../layui/layui.js"></script>
    <script src="../../../js/angularjs/angular.min.js"></script>
	<script type="text/javascript">
		layui.use(['layer','laydate'], function(){
		    var layer = layui.layer;
		});
	</script>
    <script  type="text/javascript">
        var app=angular.module('ia',[]);
        app.controller('addVedioController',function ($scope,$http) {

            //获取设备类型列表,获取用户列表,获取农场列表
            $scope.getVedioList=function () {
                $http.get('/deviceTypes/all').then(function (response) {
                    $scope.deviceTypeList=response.data.deviceTypeList;
                    $scope.farmList=response.data.farmList;
                    $scope.userList=response.data.userList;
                });
            }

            $scope.add=function () {
                var formdata = $("#form").serializeObject();
                $http.post('/vedios',$scope.vedio).then(function (response) {
                    location.href = "vedioList.html";
                })
            }
        });
    </script>
</body>
</html>
